@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Oswald:wght@300&family=Roboto+Condensed&display=swap');

:root {
    --main-bg-color: #FFFCF6;
    --menu-color: #FAEED7;
    --font-color: #832f2f;
    --font-color-texts: #453613;
  }

* {
    font-family: Lora, Arial, sans-serif;
    background-color: var(--main-bg-color);
}

nav, ul, ul li, a, #logo, .img_welcome_section, .img_welcome_section img, .welcome_section, .title_subtitle, .title_subtitle h1, .title_subtitle h2 { 
    background-color: var(--menu-color);
}


#logo {
    margin: 5px 70px;
    width: 125px;
    height: 60px;
    transition: transform 0.5s;
}

#logo:hover {
    -xpedu-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

nav{
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    box-shadow: -1px 1px 20px #a543164b;
}

ul {
    display: flex;
    margin: 24px 50px;
    text-align: left;
}

ul li {
    list-style: none;
    display: inline-block;
    text-align: left;
}

nav a {
    margin: 5px;
    color: var(--font-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    border-radius: 4px;
    padding: 5px 12px;
}

nav a:hover {
    background-color: #b76c6c1f;
}

.welcome_section {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 20px 0;
    right: 0;
    left: 0;
}

.title_subtitle {
    margin-left: 10%;
    width: 555px;
}

.title_subtitle h1 {
    font-size: 45px;
    padding-left: 10%;
}

.title_subtitle h2 {   
    padding-left: 10%;
    font-size: 35px;
}

.title_subtitle h1, h2 {
    color: var(--font-color-texts);
    align-self: center;
    width: 500px;
    text-align: left;
    font-weight: lighter;
    margin-right: 200px;
}

.img_welcome_section {
    margin-right: 10%;
    align-self: center;
}

.img_welcome_section img{
    width: 300px;
    height: 150px;
    transition: transform 0.4s;
}

/* .img_welcome_section img:hover {
    -xpedu-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
}  */

.title_cards {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 33.5%;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #D96B43;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid #D96B43;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #D96B43;      
} 

.title_cards:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #D96B43;
  }
  
.title_cards:active {
    transform: scale(0.9);
  }

.flowers_section {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    padding-bottom: 55px;
    right: 0;
    left: 0;
}

.img_card {
    width:100%; 
    border-radius: 4%;
}

.card {
    background-color: var(--menu-color);
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    border-radius: 4%;
    text-align: center;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    background-color: var(--menu-color);
    padding: 5px 16px;
  }

  .container h4, .container p{
    background-color: var(--menu-color);
  }

  .price {
    color: rgb(105, 104, 104);
    font-size: 22px;
    text-align: center;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--font-color);
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.9;
  }


#a {
    text-align: center;
}

#btn { 
    letter-spacing: 2px;
    color: #D96B43;
    cursor: pointer;
    padding: 6px 20px;
    margin-bottom: 15px;
    font-size: 20px;
    background: transparent;
    transition: ease-out 0.5s;
    border: 2px solid #D96B43;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #D96B43;      
}


#btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #D96B43;
  }
  
#btn:active {
    transform: scale(0.9);
  }



footer {
    text-align: center;
    overflow: auto;
    background-color: var(--font-color-texts);
}

footer p {
    background-color: var(--font-color-texts);
    color: var(--main-bg-color);
    font-size: 13px;
}
  
  